header{
    background-color:lightblue;
}

body{
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.card{
    background-color: white;
    padding: 5px;
    margin: 15px;
    border: 2px solid black;
    width: 200px;
}

.card-container{
    display: flex;
    gap: 20px;
}

